[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
dash = "*"
plotly = "*"
dash-daq = "*"
dash-table = "*"
dash-core-components = "*"
dash-html-components = "*"
pandas = "*"
numpy = "*"
scipy = "*"

[requires]
python_version = "3.7"
